@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --tipografia: 'Noto Sans', sans-serif; 
}



.header{
    background-image: linear-gradient(rgba(194, 68, 30, 0.925),rgba(238, 45, 45, 0.863)), url(https://images.unsplash.com/photo-1494861895304-fb272971c078?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    height: 100vh;
}

.contacto{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
}

.social-links{
    display: flex;
    justify-content: space-around;
    color: white;
    margin-right: 7rem;
}

.mail-celular{
    display: flex;
    width: 385px;
    justify-content: space-evenly;
    color: white;
    margin-right: 24rem;
}

.fa-solid, .fas {
    font-size: 12px;
}

.fa-brands{
    font-size: 1.3rem;
    padding: 0px 4px;
}

.section1{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}



article{
    max-width: 712px;
    margin-left: 14rem;
}

article img{
    width: 108px;
}

h1{
    font-size: 3rem;
    font-family: var(--tipografia);
}

article h3{
    font-size: 2rem;
    font-family: var(--tipografia);
    font-weight: 200;
}

article p{
    padding: 1.5rem 0;
    font-family: var(--tipografia);
    font-weight: 200;
}

a{
    text-decoration: none;
    color: white;
}

.btn1{
    color: black;
    padding: .5rem 2rem;
    border: 1px solid white;
    border-radius: 28px;
    background-color: white;
    font-family: var(--tipografia);
}

.animation a:hover::before{
    transform: scaleX(1);
  }

.animation a{
    position: relative;
  }

.animation .btn1::before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 30px;
    width: 60%;
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, #ff0000, #d64c4c, #c77250);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;}

.animation .btn2::before{
    content: '';
    position: absolute;
    bottom: 4px;
    left: 30px;
    width: 60%;
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, #ffffff, #cfcfcf, #b4b4b4);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;}    

.btn2{
    color: white;
    padding: .5rem 2rem;
    border: 2px solid white;
    border-radius: 28px;
    font-family: var(--tipografia);
    margin-left: .5rem;
}

.section1 div img{
    width: 900px;
}

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: var(--tipografia);
    font-weight: 200;
    margin-top: 3rem;
}

.fa-computer-mouse{
    padding-top: .5rem;
    font-size: 2rem;
}

.section-top{
    margin-top: 100px;
    text-align: center;
    font-family: var(--tipografia);
}

.section-top h2{
    padding: .5rem 0;
    font-size: 2rem;
    font-family: var(--tipografia);
}

.section-top h3{
    font-family: var(--tipografia);
    font-weight: 200;
}

.div-top{
    display: flex;
    justify-content: center;
}

.div-top div{
    padding: 100px;
}

.div-top div img{
    width: 100px;
}

.div-top h4{
    padding: 10px;
}